.widget-categories .cat-list
		list-style: none
		margin: 0
		padding: 0
		li
			margin: 6px 0
			a
				display: block
				padding: 6px 10px
				font-size: var(--text-s)
				border: 1px dashed var(--color-border)
				border-radius: var(--radius-s)
				transition: padding 0.3s, background 0.3s, color 0.3s, border-color 0.3s
				&:hover { border-color: var(--color-primary) }
