mixin comments_init
	if theme.comments && theme.comments.enable
		section#comments
			if theme.comments.type === 'giscus'
				script(type='module').
					import { mountGiscus } from '/js/adapters/comments/giscus.js'
					mountGiscus(!{JSON.stringify(theme.comments.giscus || {})})
