extends _partial/layout

block content
	h1= page.category || __('page.categories.title')
	.posts
		if page && page.posts && page.posts.length
			ul
				each post in page.posts.sort('date', -1).toArray()
					li
						a(href=url_for(post.path))= post.title
						span.date= ' ' + date(post.date, 'YYYY-MM-DD')
		else
			p No posts
