extends _partial/layout

block content
	if theme.home && theme.home.recommend && theme.home.recommend.enable
		- const rec = recommend_posts()
		if rec && rec.length
			section.recommend.card
				h3= __('recommend.title')
				ul
					each post in rec
						li
							- const rtitle = post.title || __('page.untitled')
							a(href=url_for(post.path))= rtitle
	.posts
		include _partial/mixins/post_list
		+post_list(page.posts && page.posts.data || [])
		if page.total > 1
			nav.pagination
			if page.prev
				a.prev(href=url_for(page.prev_link))= __('pagination.prev')
			if page.next
				a.next(href=url_for(page.next_link))= __('pagination.next')
