extends _partial/layout

block content
	article.post-full
		h1.post-title= page.title
		.post-meta
			span.date= date(page.date, 'YYYY-MM-DD')
			if page.categories && page.categories.length
				span.sep •
				each c in page.categories.toArray()
					a.category(href=url_for(c.path))= c.name
		#toc-mobile
			nav#toc-mobile-nav
				ol.toc-list
		.post-content!= page.content
	include _partial/mixins/comments
	+comments_init()
