extends _partial/layout

block content
	article.post-full
		//- TODO: 实现页头，专门存放meta信息
		//- h1.post-title= page.title
		//- .post-meta
		//- 	span.date= date(page.date, 'YYYY-MM-DD')
		//- 	if page.categories && page.categories.length
		//- 		span.sep •
		//- 		each c in page.categories.toArray()
		//- 			a.category(href=url_for(c.path))= c.name
		#toc-mobile(aria-hidden='true')
			.toc-mobile-backdrop(data-toc-close)
			.toc-mobile-dialog
				header.toc-mobile-header
					span= __('toc.title')
					button.toc-mobile-close(type='button' data-toc-close)
						i.fas.fa-times
				nav#toc-mobile-nav
					ol.toc-list
		.post-content!= page.content
	include _partial/mixins/comments
	+comments_init()
