doctype html
html(lang=config.language)
	head
		include head
	body(class=page.layout)
		#body-wrap
			include header/header
			if is_home()
				include hero
			.container.layout
				main#content-inner
					block content
				include sidebar
			include footer
		include rightside
		include search-modal
