#search-modal.hidden(role='dialog' aria-modal='true' aria-hidden='true')
	.search-backdrop(data-search-close)
	.search-dialog
		.search-header
			h3.title= __('search.title')
			button#close-search.search-close(type='button' aria-label='Close' data-search-close)
				i.fas.fa-times
		.search-body
			input#local-search-input(type='search' placeholder=__('search.placeholder'))
			.results#local-search-results
			.search-stats#local-search-stats
- const searchStatsText = __('search.stats')
script(type='module').
	import { initSearchModal } from '/js/modules/search-modal.js'
	import { initLocalSearch } from '/js/adapters/search/local.js'
	initSearchModal({ onOpen: () => initLocalSearch({ input: '#local-search-input', results: '#local-search-results', stats: '#local-search-stats', i18n: { stats: !{JSON.stringify(searchStatsText)} } }) })
