aside#sidebar
	- const isPost = page.layout === 'post' || page.type === 'post'
	- const defaultsPost = ['author', 'toc', 'recent_posts']
	- const defaultsOther = ['author', 'recent_posts', 'categories', 'tags', 'archives']
	- const cfgWidgets = theme.components && theme.components.sidebar && theme.components.sidebar.widgets
	- const widgets = Array.isArray(cfgWidgets) && cfgWidgets.length ? cfgWidgets : (isPost ? defaultsPost : defaultsOther)
	if theme.components && theme.components.sidebar && theme.components.sidebar.enable !== false
		each w in widgets
			- const widgetConfig = typeof w === 'object' ? w : { name: w, force: false }
			- const widgetName = widgetConfig.name || w
			if widgetName === 'author'
				include ../_widget/author
			else if widgetName === 'recent_posts'
				include ../_widget/recent
			else if widgetName === 'categories'
				include ../_widget/categories
			else if widgetName === 'tags'
				include ../_widget/tags
			else if widgetName === 'archives'
				include ../_widget/archives
			else if widgetName === 'toc' && isPost
				include ../_widget/toc
