section.widget.widget-recent
	h3= __('widget.recent_posts')
	- const list = site.posts && site.posts.sort('date', -1).limit(5).toArray() || []
	if list.length
		ul.recent-list
			each p in list
				li
					a(href=url_for(p.path))= p.title
					span.date= ' ' + date(p.date, 'YYYY-MM-DD')
