section.widget.widget-tags
	h3= __('widget.tags')
	- const tagList = site.tags && site.tags.sort('name').toArray() || []
	if tagList.length
		.tag-cloud
			each t in tagList
				a.tag(href=url_for(t.path))= `${t.name} (${t.length})`
