:root
	--color-primary: #3b82f6
	--color-bg: #fff
	--color-surface: #fff
	--color-text: #111827
	--color-muted: #6b7280
	--color-border: #7d7d7d59
	--shadow-color: #1118271a

	--radius-s: 8px
	--radius-m: 12px
	--shadow-1: 0 3px 8px 6px #07111b0d
	--shadow-2: 0 10px 24px var(--shadow-color)
	--shadow-hover: 0 3px 8px 6px #07111b17

	--space-1: 4px
	--space-2: 8px
	--space-3: 12px
	--space-4: 16px
	--space-6: 24px
	--space-8: 32px

	--font-sans: ui-sans-serif, system-ui, -apple-system, Segoe UI, Noto Sans, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji"
	--font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace
	--text-xs: 12px
	--text-s: 14px
	--text-m: 16px
	--text-l: 18px
	--text-xl: 20px
	--line: 1.7

	--container: 1400px
	--text-highlight-color: var(--color-primary)
	--blockquote-color: #6a737d
	--blockquote-bg: #3b82f61a
	--mark-bg: #0000004d
	--search-keyword-highlight: #F47466

	--code-bg: #f6f8fa
	--code-text: #24292e
	--code-tools-bg: #e1e4e8
	--code-tools-color: #6a737d
	--code-inline-bg: #1b1f230d
	--kbd-border: #b4b4b4
	--kbd-bg: #f8f8f8
	--kbd-color: #34495e
	--table-thead-bg: #99a9bf1a
